<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12 mx-auto text-center">
                    <h1>Bienvenid@ a tu Galeria</h1>
                    <h1>Almacenamiento Local</h1>
                    <hr>
                    <h2></h2>
                    <h3></h3>
                    <hr>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a role="button" class="btn btn-outline-success me-md-2" href="/">Regrear</a>
                </div>
            </div>
            <div clas="row g-0 text-center">
                <table class="col text-center">
                    <thead>
                        <tr>
                            <th scope="col-sm-2 col-md-3">Nombre</th>
                            <th scope="col-sm-2 col-md-3">Tipo</th>
                            <th scope="col-sm-6 col-md-3">Fecha de Carga</th>
                            <th scope="col-sm-2 col-md-3">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="localImagenes">
                    </tbody>
                </table>
            </div>
            <script src="/js/getlocal.js"></script>
        </div>
        <%- include('../partials/footer') %></div>