<%- include('../partials/header') %>
    <%- include('../partials/nav') %>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12 mx-auto text-center">
                    <h1>Bienvenid@!!!</h1>
                    <h1>Galeria de Imágnes</h1>
                    <hr>
                    <%- include('../partials/formUpload') %>
                        <h2></h2>
                        <h3></h3>
                        <hr>
                </div>
            </div>
        </div>
        <script src="/js/upload.js"></script>
        <%- include('../partials/footer') %>