<!-- action='http://localhost:8000/' method='post' encType="multipart/form-data" -->
<form id='uploadForm' class="d-grid gap-2 col-4 mx-auto">
    <input type="file" id="myFiles" accept="image/*" multiple />
    <input type='submit' id="btnsubmit" value='Upload!' />
</form>